.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2%;
}

.grid-item {
    display: grid;
    margin-left: 5%;
}

.about {
    color: white;
    height: 100%;
}

.title {
    font-size: xxx-large;
}

.name {
    color: white;
    text-align: left;
    font-size:800%;
    font-weight: bolder;
}